@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

p, div, span, label, input, button {
    font-family: "Kodchasan", sans-serif;
    font-weight: 400;
}

form {
    margin-bottom: 15px;
}

#content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 992px) {
    #content {
        width: 95%;
    }
}

@media (min-width: 992px) {  
    #content {
        width: 1000px;
    }
}

.box {
    background-color: snow;
    border: thick double slateblue;
    border-radius: 10px;
    padding: 0 10px;
    text-align: center;
}

#box0 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#box1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#box2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#box3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

#box4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    aspect-ratio: 1 / 1;
    column-gap: 1px;
    row-gap: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.square {
    background-color: paleturquoise;
    padding: 0 0px;
    text-align: center;
}

.hoverable:hover {
    filter: brightness(80%);
}

.five-square-ship {
    background-color: navy;
}

.four-square-ship {
    background-color: saddlebrown;
}

.three-square-ship-1 {
    background-color: seagreen;
}

.three-square-ship-2 {
    background-color: darkkhaki;
}

.two-square-ship {
    background-color: purple;
}

.miss {
    background-color: gainsboro;
}

.hit {
    background-color: red;
}